name: Deploy Azure web app
on:
   push:
     branches: [ "main" ]
permissions:
   id-token: write
   contents: read
jobs:
   deploy:
      runs-on: ubuntu-latest

      steps:
      - uses: actions/checkout@v4

      - name: Azure Login (OIDC)
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      
      - name: Deploy Subscription Bicep
        run: | 
           az deployment sub create --location eastus --template-file infra/main.bicep --parameters appName=my-webapp-${{ github.run_number }}
