name: Deploy VM using Bicep Modules

on:
  push:
    branches:
      - main
permissions:
   id-token: write
   contents: read
   
jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Azure Login (OIDC)
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Deploy infrastructure
      run: |
        az deployment sub create \
          --location eastus \
          --template-file infra/main.bicep \
          --parameters \
            rgName=vm-rg \
            adminUsername=azureuser \
            adminPassword='Password1234!'
